---
import type { CollectionEntry } from "astro:content";
import DateTag from "../date-tag.astro";
import Tag from "../tag.astro";

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
---

<div>
  {
    post.slug && (
      <a href={`/posts/${post.slug}`} target="_self">
        <img
          src={post.data.cover ? `${post.data.cover}?w=800&q=80` : ""}
          alt="cover"
        />
      </a>
    )
  }
  <div>
    <div>
      <DateTag date={post.data.date} />
      {post.data.tags?.map((tag) => <Tag tag={tag} />)}
    </div>
    <a href={`/posts/${post.slug}`} target="_self">
      <h1>{post.data.title}</h1>
    </a>
    <a href={`/posts/${post.slug}`} target="_self">
      <p>{post.data.description}</p>
    </a>
  </div>
</div>
